nbclient
subgrounds
numpy
pandas
altair
nbformat
notebook
python-dotenv # TODO: dev dependency 
python-box
python-graphql-client # TODO: remove 
google-cloud-storage
google-api-python-client
functions-framework==3.*
pyyaml # TODO: dev dependency 