nbclient
subgrounds
numpy
pandas
altair
nbformat
notebook
google-cloud-storage
google-api-python-client
functions-framework==3.*
python-dotenv # TODO: Can we make this a dev dependency?
python-box # TODO: convert Box's to dataclasses 
# python-graphql-client 
