@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura PT';
  src: url('./fonts/FuturaPT/FuturaPTMedium.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Futura PT';
  src: url('./fonts/FuturaPT/FuturaPTBold.otf');
  font-weight: 600;
}


html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Futura PT';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
